html {
	font-size: 16px;
	scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {

}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	z-index: 9;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(1,1,1,1);
	z-index: 9;
}

#loadingbackground {
	
	position: fixed;
	width: 100%;
	height: 100%;
	
	background: #FFFFFF;
	opacity: 0.85;
	z-index: 10;
	display: block;
	
}

#loadingbar {
	
	border: 2px black solid;
	height: 5px;
	width: 50px;
	
	position: fixed;
	margin: 50vh;
	margin-left: 47.5vw;
	
	z-index: 12;
	display: block;
	
}

#loadingline {
	
	background-color: #000000;
	height: 8px;
	
	position: fixed;
	margin-top: 50vh;
	margin-left: 47.5vw;
	

    animation-name: inloading;
    animation-duration: 1s;
	animation-fill-mode:forwards;
	animation-timing-function: ease;
	
	z-index: 11;
	display: block;
	
}

@keyframes inloading{
    0% {
		width: 0.1px;
    }
    100% {
		width: 52.5px;
    }
}

#infotext {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1rem;
	line-height: 0.75rem;
	align-items: left;
	
	padding: 15px;
	width:40vw;
    height:40vw;
	
	margin-left: 1vw;
	margin-top: 1vw;
	
	position: fixed;
	top: 5;
	left: 10;
	z-index: 5;
}

#info {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1rem;
	line-height: 0.75rem;
	align-items: left;
	
	background-color: #7FFFD4;
	border: 2px black solid;
	padding: 15px;
	width:40vw;
    height:40vw;
	
	margin-left: 1vw;
	margin-top: 1vw;
	
	position: fixed;
	top: 5;
	left: 10;
	z-index: 3;
	
}

#test {
	
	background-color: #FFFFFF;
	border: 2px black solid;
	padding: 15px;
	width:400px;
    height:4000px;
	
	margin-left: 100px;
	margin-top: 60px;
	
	position: absolute;
	top: 5;
	left: 10;
	z-index: 0;
	
}

.material-icons {
	display: none;
	cursor: pointer;
	font-size: 40px;
	position: fixed;
	right: 5vw;
	bottom: 50px;
	z-index: 5;
}

@media (max-width: 600px) {
	
	#infotext {
		font-size: 0.75rem;
		line-height: 0.5rem;
		width: 240px;
		height: 250px;
		margin-left: 6px;
		margin-top: 6px;
	
	}
	
	#info {
		font-size: 0.75rem;
		line-height: 0.5rem;
		width: 240px;
		height: 250px;
		margin-left: 6px;
		margin-top: 6px;
	
	}
	
	.material-icons {
	font-size: 40px;
	right: 27px;
	bottom: 50px;
	}
	
}

@media (min-width: 1000px) {
	
	#infotext {
		width:400px;
		height:450px;
		margin-left: 9.5px;
		margin-top: 9.5px;
	
	}
	
	#info {
		width:400px;
		height:450px;
		margin-left: 9.5px;
		margin-top: 9.5px;
	
	}
	
	.material-icons {
	font-size: 40px;
	right: 50px;
	bottom: 50px;
	}
	
}