html {
	font-size: 16px;
	scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {

}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	z-index: 9;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(1,1,1,1);
	z-index: 9;
}

#loadingbackground {
	
	position: fixed;
	width: 100%;
	height: 100%;
	
	background: #FFFFFF;
	opacity: 0.85;
	z-index: 10;
	display: block;
	
}

#loadingbar {
	
	border: 2px black solid;
	height: 5px;
	width: 50px;
	
	position: fixed;
	margin-top: 50vh;
	margin-left: 47.5vw;
	
	z-index: 12;
	display: block;
	
}

#loadingline {
	
	background-color: #000000;
	height: 8px;
	
	position: fixed;
	margin-top: 50vh;
	margin-left: 47.5vw;
	

    animation-name: inloading;
    animation-duration: 1s;
	animation-fill-mode:forwards;
	animation-timing-function: ease;
	
	z-index: 11;
	display: block;
	
}

@keyframes inloading{
    0% {
		width: 0.1px;
    }
    100% {
		width: 52.5px;
    }
}

#infoname {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1rem;
	line-height: 0.75rem;
	text-align: left;
	
	padding: 15px;
	width: 400px;
    height: 400px;
	
	margin-top: 10px;
	margin-left: 10px;
	
	position: fixed;
	z-index: 5;
	cursor: default;
}

#info {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1rem;
	line-height: 0.75rem;
	text-align: left;
	
	background-color: #7FFFD4;
	border: 2px black solid;
	padding: 15px;
	width: 400px;
    height: 460px;
	
	margin-top: 10px;
	margin-left: 10px;
	
	position: fixed;
	opacity: 1;
	z-index: 3;
	
}

#infotext {
	
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: left;
	
	}

.contact {
	color: #FFFFFF;
	background-color: #000000;
	text-decoration: none;
	
	}

.contact:hover {
	color: #000000;
	background-color: #FFFFFF;
	border: 1.5px #000000 solid;
	text-decoration: none;
	
	}

#test {
	
	background-color: #FFFFFF;
	border: 2px black solid;
	padding: 15px;
	width: 500px;
    height: 5000px;
	
	margin-top: 60px;
	margin-left: 100px;
	
	position: absolute;
	z-index: 0;
	
}

.material-icons {
	display: none;
	user-select: none;
	cursor: pointer;
	font-size: 40px;
	text-align: right;
	position: fixed;
	right: 30px;
	bottom: 50px;
	z-index: 5;
}

@media (max-width: 1200px) {
	
	#infoname {
		font-size: 0.75rem;
		line-height: 0.5rem;
		width: 275px;
		height: 265px;
		margin-top: 5px;
		margin-left: 5px;
	}
	
	#info {
		font-size: 0.75rem;
		line-height: 0.5rem;
		width: 275px;
		height: 310px;
		margin-top: 5px;
		margin-left: 5px;
	}
	
	#infotext {
		font-size: 0.5rem;
		line-height: 1rem;
	}
	
	.material-icons {
	font-size: 50px;
	right: 30px;
	bottom: 50px;
	}
	
}