@charset "utf-8";
/* CSS Document */

html,body {
	
	scroll-behavior: smooth;
	user-select: none;
	overflow: visible;
	float: left;
	
	font-size: 16px;
	
	--lightBackgroundColor: #F5F5F5;
	--darkBackgroundColor: #696969;
	--lightOpacityBackgroundColor: #F5F5F5;
	--darkOpacityBackgroundColor: #696969;
	
	--lightButtonColor: #F5F5F5;
	--darkButtonColor: #3D3D3D;
	--lightButtonHoverColor: #EDEDED;
	--darkButtonHoverColor: #8C8C8C;
	
	--lightTextColor: #3D3D3D;
	--darkTextColor: #C0C0C0;
	
	--lightDescriptionColor: #8C8C8C;
	--darkDescriptionColor: #505050;

	background-color: var(--lightBackgroundColor);
	
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 99vw;
}

::-webkit-scrollbar {
	
	background-color: var(--lightBackgroundColor);
	width: 0.25rem;
}

::-webkit-scrollbar-thumb {
	
    background-color: var(--darkButtonHoverColor);
}

::-webkit-scrollbar-thumb:hover {
	
    background-color: var(--darkButtonColor);
}

#loadingBar {

	display: flex;
	justify-content: center;
}

.loadingBarBackground {
	
	background-color: var(--lightOpacityBackgroundColor);
	opacity: 0.85;
	height: 100vh;
	width: 99vw;
	
	position: fixed;
	z-index: 99;
}

.loadingBar {
	
	border: 3.5px solid;
	border-color: var(--lightDescriptionColor);
	height: 0.5rem;
	width: 15rem;
	
	position: relative;
	top: 47.5vh;
	
	z-index: 99;
}

.loadingBarLine {
	
	background-color: var(--lightDescriptionColor);
	height: 0.5rem;
	
	animation-name: inloading;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	
	z-index: 99;
}

@keyframes inloading{
	
    0% {
		width: 0.1rem;
    }
    100% {
		width: 15.15rem;
    }
}

#iconMenuOpenContainer {
	
	position: fixed;
	margin-top: 1vw;
	margin-left: 3vw;
	padding-left: 0.35rem;
}

#iconMenuCloseContainer {
	
	position: fixed;
	margin-top: 1vw;
	margin-left: 3vw;
	padding-left: 0.35rem;
}

#iconUpwardContainer {
	
	position: fixed;
	margin-bottom: 3vw;
	margin-right: 2vw;
	padding-bottom: 1.5rem;
	padding-right: 0.75rem;
	right: 0;
	bottom: 0;
}

#iconMenuOpen {
	
	cursor: pointer;
	display: none;
}

#iconMenuClose {
	
	cursor: pointer;
	margin: 0;
	display: none;
}

#iconUpward {
	
	cursor: pointer;
	display: none;
}

.iconImages {
	
	font-family: 'Material Icons';
	font-size: 2rem;
	font-style: normal;
    color: var(--lightTextColor);
}

.iconImages:hover {
    
    color: var(--darkButtonHoverColor);
	
	animation-name: iconHover;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.iconImages:active {
	
	animation-name: iconClick;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

#iconAboutClose {
	
	cursor: pointer;
	display: none;
}

#iconContectClose {
	
	cursor: pointer;
	display: none;
}

.iconBoxCloseContainer {
	
	position: absolute;
	margin-top: 1rem;
	margin-right: 1rem;
	top: 0;
	right: 0;
	
	z-index: 99;
}

.iconBoxClose {
	
	margin: 0;
	font-family: 'Material Icons';
	font-size: 2rem;
	font-style: normal;
    color: var(--lightTextColor);
	text-align: left;
}

.iconBoxClose:hover {
    
    color: var(--lightButtonHoverColor);
	
    animation-name: iconHover;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.iconBoxClose:active {
	
	animation-name: iconClick;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes iconHover{
	
	0% {
	transform: scale(1, 1);
	}
	100% {
    transform: scale(1.15, 1.15);
	}
}

@keyframes iconClick{
	
	0% {
	transform: scale(1, 1);
	}
	100% {
    transform: scale(0.5, 0.5);
	}
}

#menuBar {
	
	position: absolute;
	display: block;
}

#menuBox {
	
	top: 0;
	position: fixed;
	display: none;
}

#menuBackground {
	
	background-color: var(--lightOpacityBackgroundColor);
	opacity: 0.75;
	height: 100vh;
	width: 100vw;
	top: 0;
	
	position: fixed;
	z-index: 0;
}

#menuBoxContainer {
	
	top: 2rem;
	position: fixed;
	z-index: 1;
}

.menuButton {
	
	margin-top: 1rem;
	margin-left: 3vw;
	padding-left: 0.35rem;
	margin-bottom: 1rem;
}

.menuButton:hover {
	
	animation-name: menuHover;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.menuButton:active {
	
	animation-name: menuClick;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.menuText {
	
	cursor: pointer;
	
	font-family: 'Prompt', sans-serif;
	font-size: 2rem;
	font-weight: 600;
	color: var(--lightTextColor);
	line-height: 3rem;
	
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: var(--lightTextColor);
	text-decoration-thickness: 0.2rem;
}

.menuText:hover {
	
	text-decoration: none;
}

@keyframes menuHover{
	
	0% {
	transform-origin: 1rem 0.5rem;
	transform: rotate(0deg) translateX(0rem) translateY(0rem);
	}
	100% {
	transform-origin: 1rem 0.5rem;
    transform: rotate(3.5deg) translateX(0.5rem) translateY(-0.75rem);
	}
}

@keyframes menuClick{
	
	0% {
	transform-origin: 1rem 0.5rem;
	transform: rotate(0deg) translateX(0rem) translateY(0rem) scale(1,1);
	}
	100% {
	transform-origin: 1rem 0.5rem;
    transform: rotate(3.5deg) translateX(-0.1rem) translateY(0.25rem) scale(0.9,0.9);
	}
}

.title {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--lightTextColor);
	line-height: 1.5rem;
}

.titleEnglish {
	
	font-family: 'Prompt', sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--lightTextColor);
	line-height: 1.5rem;
}

.text {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--lightTextColor);
	line-height: 1.35rem;
	text-align: left;
	
	margin: 0 0 5rem 0;
}

.textEnglish {
	
	font-family: 'Prompt', sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	color: var(--lightTextColor);
	line-height: 1.35rem;
	text-align: left;
	
	margin: 0 0 5rem 0;
}

.description {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	color: var(--lightTextColor);
	line-height: 1rem;
	text-align: left;
}

.descriptionEnglish {
	
	font-family: 'Prompt', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	color: var(--lightTextColor);
	line-height: 1rem;
	text-align: left;
}

.textParagraphContainer {
	
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}

.textParagraph {
	
	margin-bottom: 2.5rem;
}

#indexImages {
	
	width: 99vw;
	
	display: flex;
	justify-content: center;
}

.indexImagesContainer img{

	width: 10vh;
}

.snsButtonContainer {
	
	bottom: 0;
	position: absolute;
	margin-bottom: 1rem;
}

.snsButton {
	
	cursor: pointer;
	margin-right: 0.15rem;
}

.snsButton img{
	
	height: 2rem;
}

.snsButton img:hover {
	
	animation-name: buttonHover;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.snsButton img:active {
	
	animation-name: buttonClick;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.linkButton {
	
	transform-origin: 10rem 0rem;
	cursor: pointer;
	width: 20rem;
	padding-bottom: 3.75rem;
}

.linkButton:hover {
	
	filter: drop-shadow(0rem 0rem 1rem var(--darkButtonHoverColor));
	
	animation-name: buttonHover;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.linkButton:active {
	
	animation-name: buttonClick;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.linkButtonBackground {
	
	position: absolute;
}

.linkButtonBackground img{

	min-width: 20rem;
	max-width: 24rem;
}

.linkButtonIcon {
	
	position: absolute;
}

.linkButtonIcon img{
	
	height: 2rem;
	margin-top: 0.6rem;
	margin-left: 1rem;
}

.linkButtonText {
	
	font-family: 'Prompt', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: var(--lightTextColor);
	text-decoration: none;
	
	margin-top: 0.9rem;
	margin-left: 8.25rem;
	
	position: absolute;
}

#linkButtonEmail {
	
	font-family: 'Prompt', sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--lightTextColor);
	text-decoration: none;
	
	margin-top: 0.85rem;
	margin-left: 4.5rem;
	
	position: absolute;
}

.iconCopy {
	
	font-family: 'Material Icons';
	font-size: 0.9rem;
	font-style: normal;
    color: var(--lightTextColor);
	text-align: left;
	
	margin-top: 1.1rem;
	margin-left: 17.15rem;
	
	position: absolute;
}

@keyframes buttonHover{
	
	0% {
	transform: scale(1, 1);
	}
	100% {
    transform: scale(1.05, 1.05);
	}
}

@keyframes buttonClick{
	
	0% {
	transform: scale(1, 1);
	}
	100% {
    transform: scale(0.9, 0.9);
	}
}

.box {
	
	background: var(--lightBackgroundColor);
	border: 0.1rem solid var(--lightTextColor);
	
	height: 45vh;
	width: 15vw;
	max-height: 80vh;
	max-width: 80vw;
	min-height: 40rem;
	min-width: 20rem;
	
	position: fixed;
	top: 7.5vw;
	padding: 1.5rem;
	overflow: hidden;
}

.lightBackground {
	
	background-color: var(--lightOpacityBackgroundColor);
	opacity: 0.5;
	height: 100vh;
	width: 100vw;
	top: 0;
	
	position: fixed;
}

.darkBackground {
	
	background-color: var(--darkOpacityBackgroundColor);
	opacity: 0.75;
	height: 100vh;
	width: 100vw;
	top: 0;
	
	position: fixed;
}

#aboutBox {
	
	cursor: default;
	
	width: 99vw;

	position: fixed;
	display: none;
	justify-content: center;
}

#contectBox {
	
	cursor: default;
	
	width: 99vw;
	
	position: fixed;
	display: none;
	justify-content: center;
}

.headshot {
	
	position: absolute;
	right: 0;
	margin-top: 4.25rem;
	margin-right: 3.75rem;
}

.headshot img{
	
	height: 4.5rem;
	width: 4.5rem;
}

.nameParagraph {
	
	margin-top: 4rem;
}

.nameText {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--lightTextColor);
	line-height: 2rem;
	text-align: left;
}

.nameTextEnglish {
	
	font-family: 'Prompt', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--lightTextColor);
	line-height: 1.5rem;
	text-align: left;
}

#contectButtonContainer {
	
	margin-top: 6.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button {
	
	cursor: pointer;
	background-color: var(--lightButtonColor);
	text-align: center;
	height: 1.5rem;
	border: 0.1rem solid var(--lightDescriptionColor);
	
	margin-bottom: 1rem;
}

.buttonText {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 0.85rem;
	font-weight: 400;
	color: var(--lightDescriptionColor);
	text-decoration: none;
	
	height: 1.5rem;
}

.button:hover {
	
	background-color: var(--lightButtonHoverColor);
	border: 0.1rem solid var(--lightTextColor);
	
	animation-name: buttonHover;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.button:active {
	
	animation-name: buttonClick;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.buttonText:hover {
	
	color: var(--lightTextColor);
}

/*
#works {
    
	
}

.inbox {
    
    background-color: #FFFFFF;
	border: 1px #2D2D2D solid;
	
    width: 33vw;
    height: auto;
	padding: 15px;
	
    min-width: 20%;
    max-width: 25%;
    min-height: 250px;
    max-height: auto;
    
    margin-top: 50px;
	margin-left: 50px;
	
    float: left;
}

.boxDescription {
	
    background-color: #FFFFFF;
	
    font-family: 'Noto Sans TC', sans-serif;
	
    min-width: 20%;
    max-width: 25%;
    height: auto;
}
*/

#termsButtonContainer {
	
	height: 1rem;
	width: 99vw;
	margin-top: 3vh;
	
	display: flex;
	justify-content: center;
}

#termsBox {
	
	cursor: default;
	
	width: 99vw;

	position: fixed;
	display: none;
	justify-content: center;
}

#termsTextParagraphContainer {
	
	height: 95%;
	width: 100%;
	
	overflow-x: hidden;
	overflow-y: auto;
	
	margin-top: 2rem;
	padding: 0 0.15rem 0 0;
}

#copyrightContainer {
	
	width: 99vw;
	display: flex;
	justify-content: center;
}

#copyrightText {
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: var(--lightDescriptionColor);
	text-align: center;
}

.testText {
	
	color: var(--lightBackgroundColor);
	z-index: 0;
}